body{
  background-color:white;
  font-family: Arial;
}
h1{
  &nbsp;
  font-size: 50pt;
  color: #ffffff;
  background: #5b4173;
  margin-top: 0px;
}
.logo{
  width:67pt;
  height:70pt;
}

.topnav{
  overflow: hidden;
  background-color: #5b4173;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}
p{
  padding: 15px;
  text-align: center;
}
a:link {
  text-decoration: none;
}

.topnav a{
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
