table {display: table; margin: auto; width: 85%}
th {padding-left: 4pt; padding-right: 4pt; text-align: center; color: white; background-color: #5b4173}
td {text-align: center; padding: 3pt; width: 14%;}
