*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;

}


html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* USER BANNER */
.userbanner{
    background-color: black;
    height:35px;
    width:100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
}

#tiny-logo{
    width:30px;
}

.userbanner ul{
    text-align: right;
    margin:0px;
    right:0px;
    width:100%;
    padding-left: 0px;;
}

.userbanner ul li{
    display: inline-block;
    line-height:35px;
    margin 10px 5px;
}

.userbanner ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 5px 15px;
}
.userbanner ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}

.drinksection{
  text-decoration: none;
  color:black;
  font-weight: bold;
}
.drinksection:hover{
  color:#5b4173;
  font-style: italic;
}

.addcart_button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 14px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#more {display: none;}

.description_button {
  background-color: #f4d160;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

h2{
  text-align: center;
  margin-top:30px;
  padding:30px;
}
img{
  max-width: 100%;
  height: auto;
}
/* LOGO BANNER */
.img-banner{
    background-image: url("img/UMM_GROCERY_STORE.png");
    width:100%;
    height:100px;
    vertical-align: middle;
}

.logo{
    color:white;
    font-size: 50px;;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    height:100%;
    font-weight: bold;
    padding-top: 10px;
}

/* ROAD MAP BANNER */
.page-header{
    font-size: 25px;
    color:#5b4173;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin:20px;
}

.main {
  -ms-flex: 85%; /* IE10 */
  flex: 85%;
  background-color: white;
  padding: 10px;
  margin-left: 0px;
}
/* Column container */
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}
.container-fluid{
    width: 100%;
}
.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  padding: 100px;

}

.list_img {

    width: 100%;
    height: 500px ;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
}
.column {
  float: left;
  padding: 10px;

}

.left {
  width: 40%;
}

.right {
  width: 60%;
}


/* SIDE MENU */
.sidemenu{
  -ms-flex: 15%; /* IE10 */
  flex: 15%;
  padding: 0px;
}

.sidemenu ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.sidemenu ul li{
    line-height:15px;
    margin 10px 5px;
    margin-top: 10px;
}

.sidemenu ul li a{
    color: black;
    text-decoration:none;
    font-weight: bold;
}
.sidemenu ul li a:hover{
    color:#5b4173;
    font-style: italic;
}

.sidemenu ul li .active{
    color:#5b4173;
    font-weight: bolder;
    text-decoration: underline ;
}


/* FOOTER */
.footer{
    background-color: #5b4173;
    height:215px;
    font-size: 20px;;
}

.footer ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.footer ul li{
    line-height:20px;
    margin 10px 5px;
    margin-top: 15px;;
}

.footer ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 0px 15px;
}
.footer ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}
