body{
  background-color:white;
  font-family: Arial;
}
h1{
  &nbsp;
  font-size: 50pt;
  color: #ffffff;
  background: #5b4173;
  margin-top: 0px;
}
.logo{
  width:67pt;
  height:70pt;
}

h2{
  text-align: center;
  color: #5b4173;
}

h5{
  text-align: right;
}

.centerImg{
  display: block;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 60px 60px 60px 60px;
}

hr{
  height:2px;
  border-style: dotted none none none;
  border-width:10px;
  width:12%;
  color:#5b4173;
}

div{
 background-color:#fff3e6;
 margin:5px;
 padding:5px;
}

.pointcard{
  width:20%;
  border-radius: 20px 20px 20px 20px;
  margin-top:15px;
  margin-bottom:15px;
}




input[type=text]{
  width:100%
  padding:12px 20px;
  margin: 8px 0;
  box-sizing: border;
}
select{
  width: 120px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #eff7e1;
}
.submit:hover{
  backgroud-color:#8b5e83;
}
.submit{
  background-color:#f1f1f1
  cursor: pointer;
}
.container{
  margin :10px;
  background-color: #blue;
}
#submission{
  text-align: center;
}
