*{
    margin:0;
    padding:0;
    list-style: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;

}
.user_info{

  width:100%;
  margin:0px;
  padding:0px;
}
h6{
  text-align: right;
}

.pointcard{
  width:20%;
  border-radius: 20px 20px 20px 20px;
  margin-top:15px;
  margin-bottom:15px;
}


input[type=text]{
  width:100%
  padding:12px 20px;
  margin: 4px;
  box-sizing: border;
}
select{
  width: 120px;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #eff7e1;
}
.submit:hover{
  backgroud-color:#8b5e83;
}
.submit{
  background-color:#f1f1f1
  cursor: pointer;
}

#submission{
  text-align: center;
}
.newletterpros{
  color: black;
}

html, body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* USER BANNER */
.userbanner{
    background-color: black;
    height:35px;
    width:100%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    display: flex;
}

#tiny-logo{
    width:30px;
}

.userbanner ul{
    text-align: right;
    margin:0px;
    right:0px;
    width:100%;
    padding-left: 0px;;
}

.userbanner ul li{
    display: inline-block;
    line-height:35px;
    margin 10px 5px;
}

.userbanner ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 5px 15px;
}
.userbanner ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}

/* LOGO BANNER */
.img-banner{
    background-image: url("img/umm-background.png");
    width:100%;
    height:100px;
    vertical-align: middle;
}

.logo{
    color:white;
    font-size: 50px;;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    height:100%;
    font-weight: bold;
    padding-top: 10px;
}



/* ALL MIDDLE PORTION */
.main{
    display: flex;
    width:100%;
}

/* SIDE MENU */
.sidemenu{
}

.sidemenu ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.sidemenu ul li{
    line-height:15px;
    margin 10px 5px;
    margin-top: 10px;
}

.sidemenu ul li a{
    color: black;
    text-decoration:none;
    font-weight: bold;
}
.sidemenu ul li a:hover{
    color:#5b4173;
    font-style: italic;
}

.sidemenu ul li .active{
    color:#5b4173;
    font-weight: bolder;
    text-decoration: underline ;
}


/* FOOTER */
.footer{
    background-color: #5b4173;
    height:175px;
    font-size: 20px;;
}

.footer ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.footer ul li{
    line-height:20px;
    margin 10px 5px;
    margin-top: 15px;;
}

.footer ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 0px 15px;
}
.footer ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}
