.background{
	width: 100%;
	position: absolute;
	top: 10%;
	object-fit: cover;
}
.container{
	width: 80%;
	height: 90%
	background-color: white;
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	margin: 0;
}
.title{
	padding-bottom: -10px;
	color: white;
	font-size: 200%;
	padding-top: -10px;
	border: 1px solid black;
}
.header {
	height: 10%;
	top: 0px;
	margin: 0;
	background-color: #5b4173;
	color: white;
}	
.column {
	float: left;
	max-width: 100%;
	min-width: 50%;
	color: black;
	left: 60%;
	/*transform: translate(-25 %);*/
}
ul.aa {
	list-style-type: none;
}
.checkbox {
	display: block;
	position: relative;
	cursor: pointer;
	color: white;
	user-select: none;
}
.container:hover input ~ .checkmark {
	background-color: blue;
}
.flex{
	position: absolute;
	display: flex;
	left: 50%;
	transform: translate(-50%);
	bottom: -15%;
}
.flex-item + .flex-item{
	margin-left: 20px;
}
.button{
	background-color: #5B4173;
	padding: 15px 32px;
	color: white;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}