* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, 
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

.logo {
    height: 40px;
}

.banner ul{
    margin: 0px;
    padding-right: 15px;
}

.banner ul li{
    display: inline-block;
    line-height: 35px;
    margin: 5px 0;
}

.banner ul li a{
    color: white;
    border-radius: 3px;
    text-decoration: none;
    padding: 5px 15px;
}

.banner ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}

.img-banner {
    background-image: url("img/umm-background.png");
}

.banner-text {
    color: #fff;
    font-size: 50px;;
    text-align: center;
    margin-bottom: 0;
    font-weight: 700;
    padding: 10px 0;
    text-transform: uppercase;
}

.page-header{
    font-size: 25px;
    color: #5b4173;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
}

main {
    display: flex;
}

.sidemenu ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.sidemenu ul li{
    line-height:15px;
    margin: 10px 5px;
    margin-top: 10px;
}

.sidemenu ul li a{
    color: black;
    text-decoration:none;
    font-weight: bold;
}
.sidemenu ul li a:hover{
    color:#5b4173;
    font-style: italic;
}

.sidemenu ul li .active{
    color:#5b4173;
    font-weight: bolder;
    text-decoration: underline ;
}

.btn {
    background-color: #5b4173 !important;
    border-color: #5b4173 !important;
}

.login-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.login-container .wrapper {
    width: 40%;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 25px 50px 0 rgba(0,0,0,0.3);
    text-align: center;
}

form {
    padding: 30px 30px 10px 30px;
    display: flex;
    flex-direction: column;
}

form input {
    background-color: #f5f5f5;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    margin: 5px auto;
    width: 90%;
}

.submit {
    width: 60%;
    background-color: #5b4173;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    font-weight: 600;
}

.forgot-password {
    color: #5b4173;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
}

/* FOOTER */
.footer{

    background-color: #5b4173;
    height:175px;
    font-size: 20px;;
}

.footer ul{
    margin-right: 20px;
    text-align: Left;
    padding-top: 15px;
    padding-bottom: 15px;;
}
.footer ul li{
    line-height:20px;
    margin 10px 5px;
    margin-top: 15px;;
}

.footer ul li a{
    color: white;
    border-radius: 3px;
    text-decoration:none;
    padding: 0px 15px;
}
.footer ul li a:hover{
    background: #c08af2;
    color:#5b4173;
}
